/*

Add styles or override variables from the theme here.

*/

// Theme colors

$primary: #27343b !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: #0f4c75 !default;
$success: #3772FF !default;
$info: #C0E0DE !default;
$warning: #ED6A5A !default;
$danger: #ED6A5A !default;

$white: #fff;

// UI element colors
$td-sidebar-bg-color: #101e26;

// Body bases
$body-color: #b3b8ba;
$body-bg: #061f2f;
$font-size-base: 0.875rem;

// Links colors
$docker-link: #9cd7f7;
$docker-link-active: #077cbc;

// Navbar
$navbar-dark-color: $white !default;
$navbar-dark-hover-color: rgba($white, 0.5) !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-disabled-color: rgba($white, 0.25) !default;
$navbar-dark-active-border-bottom: 4px solid $docker-link-active;
$navbar-dark-hover-border-bottom: 4px solid $white;

// NavBar White links against a dark background
.navbar-dark {
	.navbar-nav {
		.show > .nav-link,
		.active > .nav-link,
		.nav-link.show,
		.nav-link.active {
			border-bottom: $navbar-dark-active-border-bottom !important;
		}

		.show > .nav-link,
		.active > .nav-link,
		.nav-link.show,
		.nav-link:hover{
			color: $navbar-dark-hover-color;
			border-bottom: $navbar-dark-hover-border-bottom;
		}
	}
}

// content

.td-content {
	> h1, h2, h3, h4, h5, h6 {
        color: $white;
    }
}