/*

Add styles or override variables from the theme here.

*/

// Theme colors
$link-active-color: #077cbc;
$link-color: #9cd7f7 !default;

$primary: #27343b !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: #0f4c75 !default;
$success: #22bb33 !default;
$info: $link-color !default;
$warning: #f0ad4e !default;
$danger: #bb2124 !default;

$white: #fff;
$dark: #000;

// UI element colors
$td-sidebar-bg-color: #101e26;
$code-bg-color: #0A121B !important;
$code-color: #c1f1f0 !important;
$blockquote-bg-color: #1f3341 !important;
$blockquote-border-color: #1488C6;

// Body bases
$body-color: #d3d4d4;
$body-bg: #061f2f;
$font-size-base: 0.875rem;

// Navbar
$navbar-dark-color: $white !default;
$navbar-dark-hover-color: rgba($white, 0.5) !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-disabled-color: rgba($white, 0.25) !default;
$navbar-dark-active-border-bottom: 4px solid $link-active-color;
$navbar-dark-hover-border-bottom: 4px solid $white;

// NavBar White links against a dark background
.navbar-dark {
	.navbar-nav {
		.show > .nav-link,
		.active > .nav-link,
		.nav-link.show,
		.nav-link.active {
			border-bottom: $navbar-dark-active-border-bottom !important;
		}

		.show > .nav-link,
		.active > .nav-link,
		.nav-link.show,
		.nav-link:hover{
			color: $navbar-dark-hover-color;
			border-bottom: $navbar-dark-hover-border-bottom;
		}
	}
}

// content

.td-content {
	> h1, h2, h3, h4, h5, h6 {
		color: $white;
	}

	.highlight {
        margin: 2rem 0;
        padding: 1rem;
        background-color: $code-bg-color;
	}

	// Inline code
    p code, li > code, table code {
		background-color: $code-bg-color;
		color: $code-color;
    }


    // Code blocks
    pre {
		background-color: $code-bg-color;
		color: $code-color;
	}
	
	> blockquote {
		padding: 10px 20px !important;
		background-color: $blockquote-bg-color;
		border-left: 6px solid $blockquote-border-color !important;
		color: $body-color !important;
    }

}

// pageinfo shortcode
.pageinfo {
    background: $code-bg-color;
}

// alerts
.alert {
	background: $code-bg-color;
}