+++
title = "Raspi's Dojo"
linkTitle = "raspisdojo"

+++

{{< blocks/cover title="Welcome to the dojo" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<p class="lead">
		### TODO: INSERT LOGO ###
		An open source Salesforce Development community</p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/about" >}}">
		About us <i class="fas fa-users ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/projects" >}}">
		Our projects <i class="fas fa-book-open ml-2"></i>
	</a>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Goldydocs provides a single web UI providing visibility into porridge temperature, chair size, and bed softness metrics! You can even find out who's been eating **your** porridge.

(Sadly, Goldydocs isn't a real project, but you can use this site as an example to create your own real websites with [Docsy](http://docsy.dev))
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-gitter" title="Join us in Gitter" %}}
Join the community and other users or developers on Gitter

[Join us...](https://gitter.im/raspi-s-Dojo)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!"  %}}
We do a Pull Request contributions workflow on **GitHub**. New users are always welcome!

[Check our Github...](https://github.com/raspisdojo)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" %}}
For announcement of latest features etc.

[Follow us!](https://twitter.com/raspisdojo)
{{% /blocks/feature %}}


{{< /blocks/section >}}
	
	<style type='text/css'>
	.embeddedServiceHelpButton .helpButton .uiButton {
		background-color: #005290;
		font-family: "Arial", sans-serif;
	}
	.embeddedServiceHelpButton .helpButton .uiButton:focus {
		outline: 1px solid #005290;
	}
</style>

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
	var initESW = function(gslbBaseURL) {
		embedded_svc.settings.displayHelpButton = true; //Or false
		embedded_svc.settings.language = ''; //For example, enter 'en' or 'en-US'

		//embedded_svc.settings.defaultMinimizedText = '...'; //(Defaults to Chat with an Expert)
		//embedded_svc.settings.disabledMinimizedText = '...'; //(Defaults to Agent Offline)

		//embedded_svc.settings.loadingText = ''; //(Defaults to Loading)
		//embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)

		// Settings for Chat
		//embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
			// Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
			// Returns a valid button ID.
		//};
		//embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
		//embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
		//embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)

		embedded_svc.settings.enabledFeatures = ['LiveAgent'];
		embedded_svc.settings.entryFeature = 'LiveAgent';

		embedded_svc.init(
			'https://fun-with-sfdx-test-dev-ed.my.salesforce.com',
			'https://fin-with-sfdx-test-dev-developer-edition.eu19.force.com/testniacpoc',
			gslbBaseURL,
			'00D1i000000DBu2',
			'Bot_Team',
			{
				baseLiveAgentContentURL: 'https://c.la1-c2-fra.salesforceliveagent.com/content',
				deploymentId: '5721i000000XhDk',
				buttonId: '5731i000000btgL',
				baseLiveAgentURL: 'https://d.la1-c2-fra.salesforceliveagent.com/chat',
				eswLiveAgentDevName: 'Bot_Team',
				isOfflineSupportEnabled: false
			}
		);
	};

	if (!window.embedded_svc) {
		var s = document.createElement('script');
		s.setAttribute('src', 'https://fun-with-sfdx-test-dev-ed.my.salesforce.com/embeddedservice/5.0/esw.min.js');
		s.onload = function() {
			initESW(null);
		};
		document.body.appendChild(s);
	} else {
		initESW('https://service.force.com');
	}
</script>
